{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}

{% endblock %}
{% block title %}Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
 {% block body %}

     <div class="container">
         <div class="row">
             <div class="col-md-8">
                 <h1 class="h3 mb-3 font-weight-normal">Profil de l'utilisateur {{ user.userIdentifier }}</h1>
                 Vous souhaitez changer votre mot de passe <a href="{{ path('forgotten_password') }}">Cliquez ici</a>
                 <br/><br/>
                 {{ form_start(form, {
                     'attr': {'class': 'form-signin'}
                 }) }}
                 {{ form_end(form) }}
             </div>
         </div>
     </div>


 {% endblock %}
