{% set page0 = 0 %}
{% set page=page0+1 %}
{% set max = 2 %}
<div class="row ">
    <div class="col-md-12 col-lg-4">
        <h1 class="titre-ppal">
            {{ categorie}}
        </h1>
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="row  justify-content-end">
            <nav>
               <ul class="nav flex-column flex-md-row paginactus">
                   <li class="nav-item">
                       <div class="bouton-debut">
                           {% if page > 1 %}
                               <form action="{{ path('core_pages', {choix:'actus'}) }}">
                               <input type="hidden" value="debut" class="nav-link val" >Début
                               </form>
                           {% else %}
                               <div class="nav-link inval">Début</div>
                           {% endif %}
                       </div>
                   </li>
                   <li class="nav-item">
                       <span class="bouton-precedent">
                           {% if page > 1 %}
                               <a class="nav-link" href="#">Précédent</a>
                           {% else %}
                               <span class="nav-link">Précédent</span>
                           {% endif %}
                       </span>
                   </li>
                   <li class="nav-item">
                       <span class="nav-link page-active">
                           <strong>{{ page }}</strong>/{{ max }}
                       </span>
                   </li>
                   <li class="nav-item">
                       <label>
                           <input class="nav-link input-gotopage" type="text" value ="" placeholder="Aller à">
                       </label>
                   </li>
                   <li class="nav-item">
                       <span class="bouton-suivant">
                           {% if page < max %}
                               <a class="nav-link" href="#">Suivant</a>
                           {% else %}
                               <span class="nav-link">Suivant</span>
                           {% endif %}
                       </span>
                   </li>
                   <li class="nav-item">
                       <span class="bouton-fin">
                           {% if page < max %}
                               <a class="nav-link" href="#">Fin</a>
                           {% else %}
                               <span class="nav-link">Fin</span>
                           {% endif %}
                       </span>
                   </li>

               </ul>
               </nav>
           </div>
    </div>
</div>
<div class="col-centre">

    {% for actu in affActus.0 %}

        <h4 class="titractus mb-0" >
            {{ actu.titre|raw }}
        </h4>
        <div class="description" style="border-bottom: 1px solid #111a21;">
        </div>
        <div class="contenu" style="padding-top: 15px;padding-bottom: 20px;">
            {{ actu.texte|raw }}
        </div>

    {% endfor %}

</div>