{# templates/Core/odpf-pages.html.twig#}
{% extends "base.html.twig" %}

{% block title %}
{{ titre }} - {{ parent() }}
 {% endblock %}

{% block stylesheets %}
    {{  parent() }}
    {% if idcategorie.id == 2 %}
        <link rel="stylesheet" href="{{ asset('css/odpf-olympiades.css') }}">
    {% elseif idcategorie.id == 3 %}
        <link rel="stylesheet" href="{{ asset('css/odpf-concours.css') }}">
    {% endif %}
{% endblock %}

{% block contenu %}
    <div id="wrapper">
    <div class="container bg-white">
        {% include 'core/odpf-menu-haut.html.twig' %}
        {% include 'core/odpf-en-tete-ppal.html.twig'  %}

        <div class="row ">
            <div class="col-md-12 col-lg-8">
                <h1 class="titre-ppal">
                    Les Olympiades <br>de Physique France
                </h1>
                {% if choix != 'philippe-lancel' and choix != 'academie' %}
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="menugche">
                            <nav>
                                <ul class="nav flex-column">
                                    {% if idcategorie.id == 2 %}
                                        <li class="nav-item {% if choix == 'c_est_quoi' %} active {% endif %}"><a href="{{ path('core_pages', {choix:'c_est_quoi'}) }}" class="nav-link">C'est quoi ?</a></li>
                                        <li class="nav-item {% if choix == 'comment_ca_se_passe' %} active {% endif %}"><a href="{{ path('core_pages' ,{choix:'comment_ca_se_passe'}) }}" class="nav-link">Comment ça se passe ?</a></li>
                                        <li class="nav-item {% if choix == 'pourquoi_participer' %} active {% endif %}"><a href="{{ path('core_pages' ,{choix:'pourquoi_participer'}) }}" class="nav-link">Pourquoi participer ?</a></li>
                                        <li class="nav-item {% if choix == 'les_aides' %} active {% endif %}"><a href="{{ path('core_pages' ,{choix:'les_aides'}) }}" class="nav-link">Les aides</a></li>
                                        <li class="nav-item {% if choix == 'les_recompenses' %} active {% endif %}"><a href="{{ path('core_pages' ,{choix:'les_recompenses'}) }}" class="nav-link">Les récompenses ?</a></li>
                                        <li class="nav-item {% if choix == 'qui_organise' %} active {% endif %}"><a href="{{ path('core_pages' ,{choix:'qui_organise'}) }}" class="nav-link">Qui organise ?</a></li>
                                        <li class="nav-item {% if choix == 'la_presse_en_parle' %} active {% endif %}"><a href="{{ path('core_pages' ,{choix:'la_presse_en_parle'}) }}" class="nav-link">La presse en parle</a></li>
                                    {% elseif idcategorie.id == 3 %}
                                        <li class="nav-item {% if choix == 'le_calendrier' %} active {% endif %}"><a href="{{ path('core_pages', {choix:'le_calendrier'}) }}" class="nav-link">Le Calendrier</a></li>
                                        <li class="nav-item {% if choix == 'inscriptions' %} active {% endif %}"><a href="{{ path('core_pages', {choix:'inscriptions'}) }}" class="nav-link">Inscriptions avant le {{date(app.session.get('edition').dateclotureinscription)|date('j')}} octobre</a></li>
                                        <li class="nav-item {% if choix == 'les_equipes' %} active {% endif %}"><a href="{{ path('core_pages', {choix:'les_equipes'}) }}" class="nav-link">Les equipes</a></li>
                                        <li class="nav-item {% if choix == 'la_carte_des_equipes' %} active {% endif %}"><a href="{{ path('core_pages', {choix:'la_carte_des_equipes'}) }}" class="nav-link">La carte des equipes</a></li>
                                        <li class="nav-item {% if choix == 'les_concours_interacademiques' %} active {% endif %}"><a href="{{ path('core_pages' ,{choix:'les_concours_interacademiques'}) }}" class="nav-link">Les Concours interacademiques</a></li>
                                        <li class="nav-item {% if choix == 'le_concours_national' %} active {% endif %}"><a href="{{ path('core_pages' ,{choix:'le_concours_national'}) }}" class="nav-link">Le Concours National</a></li>
                                    {% endif %}
                                </ul>
                            </nav>

                        </div>
                        {% if idcategorie.id == 3 and choix != 'la_carte_des_equipes'%}
                            {% include 'core/odpf-bloc-archives-photos.html.twig' %}
                        {% endif %}
                    </div>

                    <div class="col-md-9 col-lg-9">
                        <div class="col-centre">
                            <h2 class="sous-titre">{{titre|raw}}</h2>
                            <div class="contenu">
                                {% if choix == 'le_calendrier' %}
                                    {% include 'core/odpf-le-calendrier.html.twig' %}
                                {% elseif choix == 'les_equipes' %}
                                    {% include 'core/odpf-les-equipes.html.twig' %}
                                {% else%}
                                    {{ texte|raw }}
                                {% endif %}
                                {% if choix == 'inscriptions' %}
                                <ul>
                                    <li>Les <a href="{{ path('core_pages' ,{choix:'les_concours_interacademiques'}) }}">Concours Interacadémiques</a></li>
                                    <li>Le <a href="{{ path('core_pages' ,{choix:'le_concours_national'}) }}">Concours National</a></li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                {% else %}
                <div class="col-centre">
                    <h2 class="sous-titre">{{titre|raw}}</h2>{{ dump(titre) }}
                    <div class="contenu">


                            <a href="{{ path('inscrire_equipe',{idequipe:'x'}) }}" class="btn-primary">Inscrire une équipe</a>

                        {{ texte|raw }}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-8 col-lg-4 pr-0"><!--col dte-->
                {% if  idcategorie.id == 2 %}
                    <img src="{{ asset('odpf-images/colright-illustration-01.png')}}" alt="image_en_tete" style="width:100%; height:auto;" >
                {% elseif idcategorie.id == 3 %}
                    <img src="{{ asset('odpf-images/colright-illustration-02.png')}}" alt="image_en_tete" style="width:100%; height:auto;" >
                {% endif %}
                {% if  idcategorie.id == 2 or choix =='inscriptions'%}
                    <div class="bloc-objectifs">
                        <div class="titre">
                            <p>{{ titre_objectifs|raw }}</p>
                        </div>
                        <div class ="contenu">
                            {{ texte_objectifs|raw }}
                        </div>
                    </div>
                {% endif %}

                {% if  idcategorie.id == 2 %}
                    {{ include('OdpfAdmin/carousel.html.twig') }}
                {% endif %}
            </div><!--col dte-->
            {% if choix == 'la_carte_des_equipes' %}
                <div class="row mx-0">
                    <div class="col-lg-2 ml-2 pr-0">
                        <div class="contenu">
                            {% include 'core/odpf-bloc-archives-photos.html.twig' %}
                        </div>
                    </div>
                    <div class="col-9 ml-3">
                        <p><img src="{{ asset('odpf-images/29-Carte_24.png')}}" alt="29 Carte 24" width="588" height="562" ></p>
                        <br />
                        <p><img  src="{{ asset('odpf-images/29-World-Map-04.png')}}" alt="29 World Map 04" width="500" height="353" >
                    </div>

                </div>
            {% endif %}

        </div><!--row-->
        {{ include('core/odpf-menu-complet.html.twig') }}
        {{ include('core/odpf-pied.html.twig') }}

    </div><!--wrapper-->
{% endblock %}