
<div class="row  justify-content-around">
    <div class="ppal-pages">
        <span class="site-logo"><a href="{{ path('core_home') }}"><img src="{{ asset('/odpf-images/site-logo-285x75.png') }}" alt="logo du site"></a></span>
        <nav class="menu-ppal">
            <ul class="nav flex-column flex-md-row">
                <li class="nav-item">
                    <a class="nav-link" href="#">Actus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('core_pages',{'choix': 'c_est_quoi'}) }}">Les Olympiades de Physique France</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{{ path('core_pages',{'choix': 'le_calendrier'}) }}">Le Concours {{app.session.get('edition').annee}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Revivez les éditions passées</a>
                </li>
                <li class="nav-item pr-0">
                    <a class="nav-link" href="#">Partenaires</a>
                </li>
            </ul>
        </nav>
    </div><!--ppal-pages_-->
</div><!--row-->
