{% extends "base.html.twig" %}
{% block title %} Attribution des cadeaux {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}

{% block titre3 %} Attribution des cadeaux {% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Lettre</th>
                <th>Prix</th>
                <th>Titre projet</th>

            </tr>
            </thead>
            <tbody>

            {% if compteur <= nbreEquipes %}      <tr
                                    {% if equipe.classement == '1er' %} class="danger" {% elseif  equipe.classement == '2ème' %} class="warning" {% else %} class="active" {% endif %}
                            >
                                <td><span class="btn btn-primary btn-lg">{{ equipe.equipeinter.lettre }} </span></td>
                                <td >{{ equipe.classement }}</td>
                                <td >{{ equipe.equipeinter.titreProjet }}</td>
                            </tr>
            </tbody>
        </table>
                                    {% if attribue == 0 %}
                                        {{ include ("secretariatjury/form-cadeaux.html.twig") }}
                                    {% else %}
                                        {{ include ("secretariatjury/form-cadeaux2.html.twig") }}
                                    {% endif %}


            {% else %}
                            <th>Cadeau</th>


                            <tbody>

                            {% for equipe in listEquipesCadeaux %}

                                <tr
                                        {% if equipe.classement == '1er' %} class="danger" {% elseif  equipe.classement == '2ème' %} class="warning" {% else %} class="active" {% endif %}
                                >
                                    <th><a class="btn btn-primary btn-lg"
                                           href="{{ path('secretariatjury_lescadeaux', {'compteur': 1} ) }}"
                                           target="_blank">{{ equipe.equipeinter.lettre }} </a></th>
                                    <td>{{ equipe.classement }}</td>
                                    <td>{{ equipe.equipeinter.titreProjet }}</td>
                                    <td>{% if equipe.cadeau != NULL %}
                                            {{ equipe.cadeau.contenu }} offert par {{ equipe.cadeau.fournisseur|upper }} d'une valeur de {{ equipe.cadeau.montant }} euros.
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% block nav_eq %}
                                {{ include('secretariatjury/nav_equipe.html.twig') }}
                            {% endblock %}

                            </tbody>
            {% endif %}

        </table>


    </div>
{% endblock %}