  <div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {% for equipe in ListEquipes %}

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.equipe.lettre, "Lettre ",{'label_attr': {'class': 'col-sm-8 control-label'}} ) }}
    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.l) }}
  </div>

 {% endfor %}

 
  <div >
    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}

  </div>

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}

</div>

  