{% extends "base.html.twig" %}
{% block title %} Évaluer une équipe {% endblock %}

{% block titre3 %} <span {% if (progression) %} class ="btn btn-outline-primary btn-lg" {% else %} class ="btn btn-primary btn-lg" {% endif %} > 

        {{equipe.lettre}} </span>  {{ equipe.titreProjet}}

       
                 
             {%  if memoire!=null %}
            <a href="{{ asset('/fichiers/memoires/'~ memoire.fichier)}}" class="fas fa-book-reader" title="Accéder au mémoire de l'équipe" target="_blank"> </a>
        {% endif %} 
       
<a href="{{ path('cyberjury_infos_equipe', {'id': equipe.id} ) }}" class="fas fa-info-circle" title="En savoir plus sur cette équipe"> </a>

<a href="{{ path('cyberjury_phrases_amusantes', {'id': equipe.id} ) }}" class="fas fa-pencil-alt" title="Les phrases amusantes" > </a> 
<a href="{{equipe.salle}}" class="fa fa-plug" title="Accéder à la salle principale {{ type_salle }}"  target='_blank'></a>
{% set type_salle_secours = 'renater' %}
{% if type_salle=='renater'  and equipe.code!=null%}
    {% set type_salle_secours = 'zoom' %}
   
        {% endif %}
        
 <a href="{{equipe.sallesecours}}" class="fa fa-exclamation-circle" aria-hidden="true" title="Accéder à la salle de secours {{ type_salle_secours }}" target='_blank'></a>


{% endblock %} 
{% block navigation %}
<button type="button" class="btn btn-outline-primary btn-lg btn-bloc"  > <span class="fas fa-user">  </span>           
{{ jure.prenomJure|title }} {{ jure.nomJure|title }} 
  </button>
{{ include ('cyberjury/navigation.html.twig') }}
{#{{ knp_menu_render('jury', {'currentClass': 'active'}) }}#}
{% endblock %}

{% block body %} 
    {% if equipe.code != null %}<h6><div class="badge badge-pill badge-light text-wrap" style="width: 30rem;"> code pour la salle zoom : {{equipe.code}}</div></h6>{% endif %}

{{ include ("cyberjury/form.html.twig") }}
{% endblock %}
{% block pied_de_page %} 
{% endblock %}