{% extends "base.html.twig" %}
{% block title %} Phrases amusantes {% endblock %}

{% block titre3 %} 
	<a {% if (progression) %} class ="btn btn-outline-primary btn-lg" {% else %} class ="btn btn-primary btn-lg" {% endif %} 
	href="{{ path('cyberjury_evaluer_une_equipe', {'id': equipe.id} ) }}" > {{ equipe.lettre }} </a>  
	{{ equipe.titreProjet}} 
        {% for key,mem in memoires %}
            {%if key == lettre %} 
            <a href="https://olymphys.fr/public/upload/equipes/memoires/nat/{{ memoires.memoire }}" class="fas fa-book-reader" title="Accéder au mémoire de l'équipe" target="_blank"> </a>
            {% endif %}
        {% endfor %}
<a href="{{ path('cyberjury_infos_equipe', {'id': equipe.id} ) }}" class="fas fa-info-circle" title="En savoir plus sur cette équipe"> </a>

{% endblock %} 

{% block navigation %}
<button type="button" class="btn btn-outline-primary btn-lg btn-bloc"  > <span class="fas fa-user">  </span>           
{{ jure.prenomJure|title }} {{ jure.nomJure|title }} 
  </button>

{#{{ knp_menu_render('jury', {'currentClass': 'active'}) }}#}
{{ include ('cyberjury/navigation.html.twig') }}
{% endblock %}
{% block body %}

{{ include ("cyberjury/form-phrases.html.twig") }}
{% endblock %}